<!--Jack Douet 21025153-->
{% extends 'base.html' %} {% block header %} {% endblock %} {% block title %}
Change Password{% endblock %} {% block content %} {% if "logged_in" in session:
%}
<nav class="centre">
  <ul class="aside">
    <li><h2>Change Pasword</h2></li>
    <li class="navbar">
      <span
        ><button
          class="navbarButtons"
          onclick="window.location.href='{{ url_for('myAccount') }}';"
        >
          Return to myAccount
        </button></span
      >
    </li>
  </ul>
</nav>

<div class="row centre">
    <div class="col-1 col-s-1"></div>
    <div class="col-10 col-s-10">
        <form action="/change-password-form/" class="form" id="changePassword" method="POST">
            <div class="container">
                <label for="currentPwd">
                    Current Password: 
                </label>
                <input type="password" name="currentPwd" id="currentPwd" class="form" placeholder="********">
                <br>
                <label for="newPwd">New Password: </label>
                <input type="password" name="newPwd" id="newPwd" class="form" placeholder="********">
                <br>
                <label for="confPwd">Confirm Password: </label>
                <input type="password" name="confPwd" id="confPwd" class="form" placeholder="********">
                <br>
                <div class="clearfix">
                    <button form="changePassword" class="form" value="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-1 col-s-1"></div>
</div>

{% else: %}
  <nav class="centre">
    <ul class="aside">
      <li>
        <h2>
          You do not have permission to view this page, please click the button
          below to return to the homepage
        </h2>
      </li>
      <li class="navbar">
        <span
          ><button
            class="navbarButtons"
            onclick="window.location.href='{{ url_for('index') }}';"
          >
            Return to homepage
          </button></span
        >
      </li>
    </ul>
  </nav>
  {% endif %} {% endblock %}
</div>