{% extends 'base.html' %} {% block header %} {% endblock %} {% block title %}
Login{% endblock %} {% block content %}

<div class="row centre"></div>
<div class="col-1 col-s-1"></div>

<div class="col-10 col-s-10 aside">
  <form class="form" id="login" action="/login/" method="POST">
    <div class="container">
      <label for="email">Email Address: </label>
      <input
        type="email"
        name="email"
        id="email"
        class="form"
        placeholder="Enter email address..."
      />
      <br />
      <label for="password">Password: </label>
      <input
        type="password"
        name="password"
        id="password"
        class="form"
        placeholder="Enter password..."
      />
      <br />
      <button form="login" value="submit" class="loginBtn">Login</button>
    </div>
  </form>
  <div class="col-1 col-s-1"></div>
</div>
{% endblock %}
