<!--Jack Douet 21025153-->
{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}
{% if session.get('userType') == "ADMIN": %}
<nav class="centre">
  <ul class="aside">
    <li><h2>All Bookings for month starting: {{month}}</h2></li>
    <li class="navbar">
      <span
        ><button
          class="navbarButtons"
          onclick="window.location.href='{{ url_for('adminHub') }}';"
        >
          Return to Admin Hub
        </button></span
      >
    </li>
  </ul>
</nav>

<div class="row centre">
  <div class="col-1 col-s-1"></div>
  <div class="col-10 col-s-10">
    <div class="overFlow">
      <table class="centre">
        <tr>
          <th>Booking ID</th>
          <th>Customer ID</th>
          <th>Room Id</th>
          <th>Date Booked</th>
          <th>Start of Booking</th>
          <th>End of Booking</th>
          <th>Total Guests</th>
          <th>Amount Paid</th>
          <th>Currency</th>
          <th>Room Type</th>
          <th>City</th>
          <th>Address</th>
        </tr>

        {% for row in bookingData %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>
          <td>{{row[6]}}</td>
          <td>{{row[7]}}</td>
          <td>{{row[8]}}</td>
          <td>{{row[9]}}</td>
          <td>{{row[10]}}</td>
          <td>{{row[11]}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="col-1 col-s-1"></div>
</div>

{% else: %}
<nav class="centre">
  <ul class="aside">
    <li>
      <h2>
        You do not have permission to view this page, please click the button
        below to return to the homepage
      </h2>
    </li>
    <li class="navbar">
      <span
        ><button
          class="navbarButtons"
          onclick="window.location.href='{{ url_for('index') }}';"
        >
          Return to homepage
        </button></span
      >
    </li>
  </ul>
</nav>
{% endif %} {% endblock %}
