{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}


<nav class="centre">
<ul>
  {% if "logged_in" in session: %}
      <li><h2>Hello {{session['name']}}! What can we do for you today?</h2></li>
      <li class="navbar">
        <span
          ><button
            class="navbarButtons"
            onclick="window.location.href='{{ url_for('logout') }}';"
          >
            Logout
          </button></span
        >
      </li>
      <li class="navbar">
        <span
          ><button
            class="navbarButtons"
            onclick="window.location.href='{{ url_for('changePassword') }}';"
          >
            Change Password
          </button></span
        >
      </li>

  {% else %}
      <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='login';">Log In</button></span></li>
      <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='signup';">Sign Up</button></span></li>
  {% endif %} 
</ul>
</nav>

<div class="row centre">
  <div class="col-1 col-s-1"></div>
  <div class="col-10 col-s-10"> 
  {% if bookedCount >= 1: %}  
    <h2>My Bookings:</h2>
    <form action="/account/modify_booking/" method="POST">
      <div class="overFlow">
    <table>
      <tr>    
        <th>Booking ID</th>
        <th>Room Id</th>
        <th>Date Booked</th>
        <th>Start of Booking</th>
        <th>End of Booking</th>
        <th>Total Guests</th>
        <th>Amount Paid</th>
        <th>Room Type</th>
        <th>City</th>
        <th>Address</th>
      </tr>

    {% for row in bookingData %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
        <td>{{row[8]}}</td>
        <td>{{row[9]}}</td>
        <td>{{row[10]}}</td>
        <td><input type="radio" name="modifyBooking" id="modifyBooking" value="{{row[0]}}" checked></td>
      </tr>  
    {% endfor %}
    </table>
  </div>
    <input type="submit" value="Edit Selected booking!">
    </form>
  {% else: %}
    <nav class="centre">
      <ul class="aside">
        <li><h2>You have not booked anything with us yet.</h2></li>
        <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('ourCities') }}';">Book your dream getaway today!</button></span></li>
      </ul>
    </nav>
  {% endif %}
  {% if cancelledCount > 0: %}
    <h2>Cancelled Bookings:</h2>
    <div class="overFlow">
    <table>
      <tr>
        <th>Booking ID</th>
        <th>Room ID</th>
        <th>Date Booked</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Date Cancelled</th>
        <th>Guests</th>
        <th>Total Paid</th>
        <th>Total Refunded</th>
      </tr>
      {% for row in cancelledData %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
        <td>{{row[8]}}</td>
        <td>{{row[9]}}</td>
        <td>{{row[10]}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

</div>
<div class="col-1 col-s-1"></div>
</div>



{% endblock %}


