<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Horizon Holidays - My Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles/main.css') }}" />
  </head>


<body>
    <div class="header">
        <a href="{{ url_for('index') }}"><h1>Horizon Holidays</h1></a>
        <h2>My Account</h2>
      </div>
    <h1>placeholder text for if the user is signed up.</h1>


<div class="footer">
    <a href="{{ url_for('privacy') }}">Privacy Statement</a>
  </div>
</body>
</html>