<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Horizon Holidays - Sign Up / Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles/main.css') }}" />
  </head>

  <body>
    <div class="header">
      <a href="{{ url_for('index') }}"><h1>Horizon Holidays</h1></a>
      <h2>Sign Up / Log in</h2>
    </div>

    <h1>
      placeholder text, will be changed to links that look like buttons for the
      user to select whether to sign up or log in. Will also display a message
      saying that they are not logged in.
    </h1>

    <div class="footer">
      <a href="{{ url_for('privacy') }}">Privacy Statement</a>
    </div>
  </body>
</html>
