{% extends 'base.html' %} {% block header %} {% endblock %} {% block title %}
Sign up {% endblock %} {% block content %}
<body onload="maxAge()">
  
</body>
<script>
  function maxAge() {
    var today = new Date();
    var year = today.getFullYear();
    var month = today.getMonth() + 1;
    var day = today.getDate();           
    if (month < 10) {
        month = '0' + month; 
    }
    if (day < 10) {
        day = '0' + day; 
    }
    today = year + '-' + month + '-' + day;
    document.getElementById("dob").max = today;
  }
</script>
<div class="row centre">
  <div class="col-1 col-s-1"></div>

  <div class="col-10 col-s-10 aside">
    <form class="form" id="signup" action="/sign-up/" method="POST">
      <div class="container">
        <label for="fname">First Name: </label>
        <input
          type="text"
          name="fname"
          id="fname"
          class="form"
          placeholder="Enter first name..."
        />
        <br />

        <label for="lname">Last Name: </label>
        <input
          type="text"
          name="lname"
          id="lname"
          class="form"
          placeholder="Enter last name..."
        />
        <br />

        <label for="dob">Date of Birth: </label>
        <input
          type="date"
          name="dob"
          id="dob"
          class="form"
          max=""
        />
        <br />

        <label for="postcode">Postcode: </label>
        <input
          type="text"
          name="postcode"
          id="postcode"
          class="form"
          placeholder="Enter post code..."
        />
        <br />

        <label for="email">Email Address: </label>
        <input
          type="email"
          name="email"
          id="email"
          class="form"
          placeholder="example@example.com"
        />
        <br />

        <label for="password">Password: </label>
        <input
          type="password"
          name="password"
          id="password"
          class="form"
          placeholder="Enter password..."
        />
        <br />

        <label for="confpassword">Confirm Password: </label>
        <input
          type="password"
          name="confpassword"
          id="confpassword"
          class="form"
          placeholder="Confirm password..."
        />
        <br />
        <div class="clearfix">
          <button
            type="button"
            onclick="window.location.href='{{ url_for('index') }}';"
            class="cancelBtn"
          >
            Cancel
          </button>
          <button form="signup" class="signUpBtn" value="submit">
            Sign Up
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-1 col-s-1"></div>
</div>
{% endblock %}
