<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aberdeen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles/main.css') }}" />
  </head>

  <body>
    <div class="header">
      <h1><a href="{{ url_for('index') }}">Horizon Holidays</a></h1>
      <h2>Aberdeen</h2>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <img src="/static/img/double.jpeg" alt="double" />
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <form action='/book/' method='POST' class="room_selection">
          <label for="roomType">Room type:</label>
          <select name="roomType" id="roomType">
            <option value="Standard">Standard Room</option>
            <option value="Double">Double Room</option>
            <option value="Family">Family Room</option>
          </select>
          <label for="start-date">Start Date: </label>
          <input type="date" id="start-date" name="start-date" min=''/>
          <label for="end-date">End Date: </label>
          <input type="date" id="end-date" name="end-date" />
          <label for="guest-no">Guests:</label>
          <input type="number" name="guest-no" id="guest-no" value="1">
          <input type="hidden" id="city" name="city" value="Aberdeen">
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="footer">
      <a href="{{ url_for('privacy') }}">Privacy Statement</a>
    </div>
  </body>
</html>
