<!DOCTYPE html>
<html lang="en">
  <head>
    <title>London</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles/main.css') }}" />
  </head>

  <body>
    <div class="header">
      <h1><a href="{{ url_for('index') }}">Horizon Holidays</a></h1>
      <h2>London</h2>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <img src="/static/img/double.jpeg" alt="double" />
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <form class="room_selection">
          <label for="room_type">Room type:</label>
          <select name="room_type" id="room_type">
            <option value="standard_room">Standard Room</option>
            <option value="double_room">Double Room</option>
            <option value="family_room">Family Room</option>
          </select>
          <label for="start-date">Start Date: </label>
          <input type="date" id="start-date" name="start-date" />
          <label for="end-date">End Date: </label>
          <input type="date" id="end-date" name="end-date" />
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="footer">
      <a href="{{ url_for('privacy') }}">Privacy Statement</a>
    </div>
  </body>
</html>
