<!--Jack Douet 21025153-->
{% extends 'base.html' %} {% block header %} {% endblock %} {% block title %}
Our Cities{% endblock %} {% block content %}

<nav class="centre">
  <ul class="aside">
    <li><h2>Welcome to the booking process...</h2></li>
    <li><h3>You are only a couple of steps away from your dream stay!</h3></li>
</ul>
</nav>

<form action="/book_confirm/" method="POST" class="form" id="bookConfirm">
  <input type="hidden" name="city" id="city" value="{{lookup[0]}}"/>
  <input type="hidden" name="start" id="start" value="{{lookup[1]}}"/>
  <input type="hidden" name="end" id="end" value="{{lookup[2]}}"/>
  <input type="hidden" name="guests" id="guests" value="{{lookup[3]}}"/>
  <input type="hidden" name="nights" id="nights" value="{{lookup[4]}}"/>
  <input type="hidden" name="room" id="room" value="{{lookup[5]}}"/>
  <input type="hidden" name="address" value="{{bookingSet[0][3]}}">
  <input type="hidden" name="choice" value="{{bookingSet[0][0]}}">
  <div class="row centre">
    <div class="col-1 col-s-1"></div>
    <div class="col-10 col-s-10">
      <div class="overFlow">
      <table class="centre">
        <tr>
          <th>City</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Number of Guests</th>
          <th>Number of Nights</th>
          <th>Room Type</th>
          <th>Nightly Fare</th>
          <th>Address</th>
          <th>Total Fare</th>
          <th>Room Type</th>
        </tr>
        <tr>
          <td>{{lookup[0]}}</td>
          <td>{{lookup[1]}}</td>
          <td>{{lookup[2]}}</td>
          <td>{{lookup[3]}}</td>
          <td>{{lookup[4]}}</td>
          <td>{{lookup[5]}}</td>
          {% if status == True: %}
            <td>{{bookingSet[0][4]}}</td>
          {% else: %}
            <td>{{bookingSet[0][5]}}</td>
          {% endif %}
          <td>{{bookingSet[0][3]}}</td>
          <td>{{bookingSet[0][7]}}</td>
          <td>{{bookingSet[0][1]}}</td>
          
        </tr>
        </table>
      </div>
      </div>
      <div class="col-1 col-s1"></div>
      <div class="row centre">
        <div class="col-1 col-s1"></div>
        <div class="col-10 col-s10">
        <table>
        <tr>
          <th>Currency</th>
          <th>Price</th>
          <th>Select</th>
        </tr>
        <tr>
          <td>Pounds</td>
          <td>{{bookingSet[0][7]}}</td>
          <td><input type="radio" name="paymentType" value="Pounds" checked></td>
          <input type="hidden" name="totalFarePounds" value="{{bookingSet[0][7]}}">  
        </tr>
        <tr>
          <td>Euros</td>
          <td>{{bookingSet[0][8]}}</td>
          <td><input type="radio" name="paymentType" value="Euros"></td>
          <input type="hidden" name="totalFareEuros" value="{{bookingSet[0][8]}}"> 
        </tr>
        <tr>
          <td>Dollars</td>
          <td>{{bookingSet[0][9]}}</td>
          <td><input type="radio" name="paymentType" value="Dollars"></td>
          <input type="hidden" name="totalFareDollars" value="{{bookingSet[0][9]}}">
        </tr>
      </table>
  </div>
  <div class="col-1 col-s1"></div>


  <div class="row centre">
    <div class="col-1 col-s-1"></div>
    <div class="col-10 col-s-10">
      <input type="submit" value="Confirm Booking!">
      <h5>Please be aware that the total amount to pay may be different to simply multiplying the nightly rate by the amount of nights, this is because of pre-booking discounts and charges for extra people.</h5>
    </div>
    
    <div class="col-1 col-s-1"></div>
  </div>
    </form>
  
  

  {% endblock %}