<!--Jack Douet 21025153-->
{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}


    <nav class="centre">
    <li><h2>Thank you for booking with Horizon Hotels!</h2></li>
    <li><h3>
      We look forward to having you stay with us, all the details for your
      booking are below.
    </h3></li>
    <li><h4>
      You can view or amend your booking by going to your account page or by
      pressing the button below.
    </h4></li>
    <li class="navbar">
      <span
        ><button
          class="navbarButtons"
          onclick="window.location.href='{{ url_for('myAccount') }}';"
        >
          Return to myAccount
        </button></span
      >
    </li>
  </nav>
  <div class="row centre">
    <div class="col-1 col-s-1"></div>
    <div class="col-10 col-s-10">
    <table class="centre">
      <div class="overFlow">
      <tr>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>City</th>
        <th>Address of Hotel</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Price</th>
        <th></th>
      </tr>
      <tr>
        <td>{{resultset[0]}}</td>
        <td>{{resultset[1]}}</td>
        <td>{{resultset[2]}}</td>
        <td>{{resultset[3]}}</td>
        <td>{{resultset[4]}}</td>
        <td>{{resultset[5]}}</td>
        <td>{{resultset[7]}}</td>
        <td>{{resultset[9]}}</td>
      </tr>
    </table>
  </div>


{% endblock %}
