{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<nav class="centre">
  <ul class="aside">
      <li><h2>About us</h2></li>
      <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('contact') }}';">Have feedback?</button></span></li>
  </ul>
</nav>


<div class="row centre">
  <div class="col-1 col-s-1"></div>
    <div class="col-10 col-s-10">
        <p>We are a UK based hotel firm with hotels in all major cities. Please find the contact us page above for any further questions you might have.</p>
    </div>
    <div class="col-1 col-s-1"></div>

  </div>

  {% endblock %}