<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Horizon Holidays - About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles/main.css') }}" />
  </head>

  <body>
    <div class="header">
      <a href="{{ url_for('index') }}"><h1>Horizon Holidays</h1></a>
      <h2>About Us</h2>
    </div>

    <div class="col-12">
        <p>We are a UK based hotel firm with hotels in all major cities. Please find the contact us page below for any further questions you might have.</p>
    </div>

    <div class="col-12 aside">
        <a href="{{ url_for('contact') }}"
          ><h2>Still have questions? Click here to contact us.</h2></a
        >
      </div>
      <div class="footer">
        <a href="{{ url_for('privacy') }}">Privacy Statement</a>
      </div>
    </body>
  </html>