<!--Jack Douet 21025153-->
{% extends 'base.html' %} {% block header %} {% endblock %} {% block title %}
Contact us{% endblock %} {% block content %}

<nav class="centre">
  <ul class="aside">
  <li><h2>
    Have questions not covered in the
    <a href="{{ url_for('about') }}">About us </a> or
    <a href="{{ url_for('terms') }}">Terms & Condtions</a>
  </h2></li>
  <li><h3>Let us know who you are and how we can help you below!</h3></li>
</ul>
</nav>
  <div class="row">
    <div class="col-1 col-s-1"></div>

    <div class="col-10 col-s-10 aside">
      <form class="form" id="comments" action="/comments/" method="POST">
        <div class="container">
          <label for="fname">First Name: </label>
          <input
            type="text"
            name="fname"
            id="fname"
            class="form"
            placeholder="Enter first name..."
          />
          <br />

          <label for="lname">Last Name: </label>
          <input
            type="text"
            name="lname"
            id="lname"
            class="form"
            placeholder="Enter last name..."
          />
          <br />
          <label for="email">Email Address: </label>
          <input
            type="email"
            name="email"
            id="email"
            class="form"
            placeholder="example@example.com"
          />
          <br />
          <label for="comments"
            >Please Enter your comments or concerns here:
          </label>
          <textarea
            name="comments"
            id="comments"
            cols="30"
            rows="30"
          ></textarea>
          <div class="clearfix">
            <button
              type="button"
              onclick="window.location.href='{{ url_for('index') }}';"
              class="cancelBtn"
            >
              Cancel
            </button>
            <button form="comments" class="signUpBtn" value="submit">
              Submit Comments
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}