<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Horizon Holidays - Privacy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles/main.css') }}" />
  </head>

  <body>
    <div class="header">
      <a href="{{ url_for('index') }}"><h1>Horizon Holidays</h1></a>
      <h2>Privacy Statement</h2>
    </div>
    <div class="col-12">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque,
        corrupti aliquid numquam ducimus officia rem illum neque enim, quae
        error doloremque suscipit autem architecto, sequi ex. Recusandae nemo
        veniam ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Facilis veritatis non, placeat debitis soluta, fuga nostrum voluptatem
        dolor magnam laboriosam labore! Voluptate laborum accusamus neque quas
        consequatur harum doloremque quisquam! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Molestias quod neque, iusto possimus minus
        voluptas ex aliquid at sequi numquam cumque reprehenderit ad similique!
        Quisquam, repudiandae modi. Laudantium, fugiat ab. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Facere quibusdam repellendus a cum
        iusto! Temporibus, fugit. Ratione eligendi, modi placeat earum quaerat
        aut error reiciendis libero vel excepturi dicta id? Lorem ipsum, dolor
        sit amet consectetur adipisicing elit. Maiores sequi, amet esse ab
        eligendi voluptates, quasi facere architecto accusamus ipsum aspernatur
        eum fugit voluptas et. Corporis iusto incidunt rerum doloremque! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Modi itaque
        cupiditate saepe sapiente exercitationem nostrum quae veritatis
        doloremque autem nemo vero, quasi placeat facilis perferendis
        consequuntur iusto nam totam vel? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Velit non magnam aliquam pariatur porro. Dolores alias
        distinctio ad aliquid cum sed, id quidem! Quisquam optio vel et laborum
        veritatis a? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Numquam totam magni modi? Praesentium pariatur veritatis quam minus
        autem, amet repudiandae maiores accusamus quaerat, tempora itaque ad
        quia. Praesentium, porro in. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Eaque iure, minus incidunt quis facere nam cupiditate,
        a impedit odio nulla quod! Deleniti cumque architecto eum velit animi
        vero quod nam? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Similique exercitationem odit veritatis placeat? Facilis molestias id
        error natus sequi pariatur a molestiae cum deleniti, magnam eligendi
        quae animi at rerum? Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Aliquam incidunt corrupti nesciunt odit a eum repellat cum iusto
        quod, labore in asperiores, consequatur reprehenderit laudantium optio
        necessitatibus aliquid iure nobis. Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Quo nisi impedit, temporibus suscipit
        rerum placeat fugit cupiditate quam omnis, quia, culpa ullam rem
        voluptas cum distinctio enim consequuntur eligendi obcaecati! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Velit molestiae
        voluptatibus, quisquam suscipit assumenda modi voluptas? Enim libero
        magni, quo qui cupiditate sit ea. Sint quas fugiat at alias fuga.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti quae
        quia minus eos necessitatibus fugiat neque sed, maxime vitae, doloribus
        laborum corrupti sint eius deserunt quos facilis sequi ab tempore? Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt vel
        quam explicabo numquam tempore libero quo laborum laudantium. At eius
        voluptatum similique? Sit magnam suscipit impedit ab enim velit. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Libero ut molestiae,
        doloribus aspernatur modi odit ullam placeat ipsa pariatur et reiciendis
        ratione suscipit asperiores, optio commodi. Eveniet quia nulla fugit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        nemo quibusdam, et ratione qui eveniet voluptatibus. Dolores deserunt
        animi odio accusantium magnam quas, dolorem vitae illum aliquid
        provident cumque quos. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Totam ea illum harum quidem beatae, eos aliquid atque
        autem, nemo provident minima quas dolores expedita dicta laborum libero
        earum! Deserunt, quisquam. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Nam vitae aspernatur unde corporis deleniti,
        distinctio quae velit modi non minus eligendi autem necessitatibus alias
        eum ipsam amet laboriosam ducimus ea! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Voluptate deleniti mollitia vitae porro
        quibusdam culpa pariatur, distinctio, provident nulla suscipit aliquid
        recusandae tenetur vel facere! Repudiandae molestias aperiam quibusdam
        quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
        laudantium voluptatem facilis et corrupti? Distinctio nihil maiores
        aspernatur itaque impedit molestiae velit delectus error! A, explicabo!
        Sed voluptates quo maiores. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Culpa autem laboriosam officia nobis harum veniam
        sequi eius voluptatum iure atque saepe cupiditate a, nisi sapiente
        laborum? Debitis aperiam saepe eveniet. Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Voluptates iure doloribus accusamus
        quibusdam dolore, necessitatibus fugiat incidunt laboriosam error cum
        quas vel veniam ipsa, dicta consequatur quisquam magni ab molestiae.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, sit
        reiciendis rerum, recusandae ipsa iure itaque ratione commodi impedit
        vel nobis aut repellendus? Sint nobis officiis quod officia
        reprehenderit ipsa? Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Sapiente quaerat illo porro, repudiandae laborum eligendi
        similique harum. Mollitia ut voluptatibus quasi culpa enim. Eligendi
        modi harum nostrum corrupti delectus provident.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
        blanditiis odio aliquid. Consectetur ea perferendis ducimus ex molestiae
        impedit, dicta fugiat quidem temporibus eveniet non cumque quis eius
        tempora. Vero. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Hic inventore rerum atque voluptates odio mollitia fugiat? Aliquid
        adipisci laudantium excepturi qui, sint architecto nobis, dolorum
        tempora ullam sequi atque molestiae! Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Ullam beatae velit odit aut repudiandae
        quam ex aperiam quidem odio ipsa placeat soluta asperiores veritatis,
        voluptate, nisi quia illum possimus nesciunt! Lorem ipsum dolor, sit
        amet consectetur adipisicing elit. Non quam soluta velit quo earum
        magnam explicabo aperiam neque dolor, hic nihil dignissimos voluptas
        commodi aliquid dolore repudiandae perspiciatis. Error, nam! Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Doloremque delectus
        doloribus neque aliquam reprehenderit quod nam saepe culpa iure magnam,
        dolores deleniti eaque sapiente inventore accusamus ullam ab commodi
        rerum! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Architecto modi error fuga praesentium tempora placeat perspiciatis
        eaque? Aliquam nostrum molestias magnam dolores quisquam iure nesciunt
        eum, necessitatibus ipsa saepe dicta? Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Expedita earum sunt minus cum laboriosam
        fugit aut in voluptatum consequuntur, quibusdam, nobis labore asperiores
        voluptates maxime. Amet tempore molestiae tempora nihil. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ab facere, esse sit
        voluptas ex sint tenetur porro dolor quod atque magnam voluptatum
        doloremque beatae suscipit veniam aperiam! Tempora, ea maxime. Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Sit ut eveniet
        aliquid quam nihil laboriosam ea doloremque libero eaque voluptatum!
        Error illo aperiam obcaecati voluptatem voluptatibus, cum illum debitis
        sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
        veritatis, inventore et enim itaque soluta nemo, pariatur laborum, nam
        modi id facilis sint? Iste alias repellendus asperiores non eos et?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quo
        distinctio dolore nemo, voluptatum doloremque dolor, culpa nam aliquam
        tenetur possimus. Est recusandae corporis nostrum rerum unde, atque fuga
        dolorem!
      </p>
    </div>

    <div class="col-12 aside">
        <a href="{{ url_for('contact') }}"><h2>Still have questions? Click here to contact us.</h2></a>
        <a href="{{ url_for('terms') }}"><h2>Or here for terms and conditions.</h2></a>
    </div>
  </body>
</html>
