<!--Jack Douet 21025153-->
{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<nav class="centre">
  <ul class="aside">
      <li><h2>Terms & Conditions</h2></li>
      <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('contact') }}';">Have feedback?</button></span></li>
  </ul>
</nav>

  <div class="row centre">
    <div class="col-1 col-s-1"></div>
    <div class="col-10 col-s-10">
      <h2>Terms and Conditions ("Terms")</h2>
      <p>Last updated: (29.4.22)</p>
      <p>
        Please read these Terms and Conditions ("Terms", "Terms and Conditions")
        carefully before using the http://www.horizonhotels.com
        website operated by Horizon Hotels.
      </p>
      <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with
        these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
        </p>
        <p style="font-weight: bold;">By accessing or using the Service you agree to be bound by these Terms. If you disagree
            with any part of the terms then you may not access the Service. </p>
        <p style="font-weight: bold;">Bookings</p>
        <p>In order to make a booking with us we will have to take some of your personal details in order to complete the booking. 
        These will be stored on our servers for 90 days after your checkout date. You consent to us collecting this data when you book with us.
        We are fully GDPR compliant and will be not sell or otherwise profit off your data. We do not handle any of your banking details as this
        is handled by an exterior company.</p>
        <p style="font-weight: bold;">Links To Other Web Sites</p>
        <p>Our Service may contain links to third-party web sites or services that are not owned or controlled
            by Horizon Hotels.
            Horizon Hotels has no control over, and assumes no responsibility for, the content,
            privacy policies, or practices of any third party web sites or services. You further acknowledge and
            agree that Horizon Hotels shall not be responsible or liable, directly or indirectly, for any
            damage or loss caused or alleged to be caused by or in connection with use of or reliance on any
            such content, goods or services available on or through any such web sites or services.</p>
        <p style="font-weight: bold;">Changes</p>
        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a
            revision is material we will try to provide at least 30 days' notice prior to any new terms
            taking effect. What constitutes a material change will be determined at our sole discretion.</p>
      </p>
    </div>
    <div class="col-1 col-s-1"></div>
  </div>

  {% endblock %}