<!DOCTYPE html>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% block title %}{% endblock %}</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/main.css') }}"
/>
<script>
    function logoutFunc() {
      alert("You have successfully logged out!");
    }
  </script>

<nav>
  <h1>Horizon Holidays</h1>
  <ul>
    {% if "logged_in" in session: %}
        <li><h2>{{session['name']}}, what can we do for you today?</h2></li>
        <li><span></li><a href="{{  url_for('index') }}"></a
        ><button onclick="window.location.href='logout';">Log out</button></span>
    {% else %}
        <li><span><a href="{{ url_for('log_in') }}">Log In</a></span></li>
        <li><span><a href="{{ url_for('signup') }}">Sign Up</a></span></li>
    {% endif %} 
  </ul>
</nav>

{% if logout: %}
    <script>
        window.onload = logoutFunc();
    </script>
{% endif %}
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}



</section>
<div class="footer">
  <a href="{{ url_for('privacy') }}">Privacy Statement</a>
</div>
