<!--Jack Douet 21025153-->
<!DOCTYPE html>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% block title %}{% endblock %}</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/main.css') }}"
/>

<nav>
  <a href="{{ url_for('index') }}"><h1 class="centre">Horizon Hotels</h1></a>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}



</section>


<div class="footer col-12 col-s-12">
  <a href="{{ url_for('terms') }}">Terms & Conditions</a>
</div>