{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}

<nav class="centre">
    <ul class="aside">
        {% if error == "email": %}
            <li><h2>This email is already in use, please login or use another email.</h2></li>
            <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('log_in') }}';">Login</button></span></li>
            <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('sign_up') }}';">Sign up</button></span></li>
        {% elif error == "conn": %}
            <li><h2>A connection error has occurred, please alert the sites administrator.</h2></li>
            <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('index') }}';">Return to homepage</button></span></li>
        {% elif error == "login": %}
            <li><h2>Email or password is incorrect, please try again.</h2></li>
            <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('log_in') }}';">Login</button></span></li>
        {% elif error == "overbooked": %}
            <li><h2>Too many rooms booked on this time already, please select a different hotel, time or room type.</h2></li>
            <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('ourCities') }}';">Return to our cities page</button></span></li>
        {% elif error == "notLogged": %}
            <li><h2>Please login or signup before booking.</h2></li>
            <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('noAccount') }}';">Login/Signup</button></span></li>
        {% elif error == "comment": %}
        <li><h2>Your comment has been received, we will review it in the next 3 business days and get back to you as soon as possible.</h2></li>
        <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('index') }}';">Return to homepage</button></span></li>    
        {% elif error == "update": %}
        <li><h2>Your selected hotel has been updated, please refer back to previous page to view update.</h2></li>
        <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('adminHub') }}';">Return to Admin Hub</button></span></li>
        {% elif error == "value": %}
        <li><h2>The value you have entered is incorrect, please try again. (Ensure it is an int or float).</h2></li>
        <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('adminHub') }}';">Return to Admin Hub</button></span></li>
        {% elif error == "hotel": %}
        <li><h2>Your new hotel has been successfully created, view it now from the Admin Hub.</h2></li>
        <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('adminHub') }}';">Return to Admin Hub</button></span></li>
        {% elif error == "passwordUpdate": %}
        <li><h2>Your password has been successfully changed, press the button below to return myAccount.</h2></li>
        <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('myAccount') }}';">Return to myAccount</button></span></li>
        {% elif error == "password": %}
        <li><h2>The password you have entered is incorrect please try again</h2></li>
        <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('changePassword') }}';">Return to Change Password</button></span></li>
        {% elif error == "match": %}
        <li><h2>The two new passwords entered do not match, please try again.</h2></li>
        <li class="navbar"><span><button class="navbarButtons" onclick="window.location.href='{{ url_for('changePassword') }}';">Return to Change Password</button></span></li>
        {% endif %}
        
    </ul>
    
</nav>

{% endblock %}