{% extends 'base.html' %} {% block header %} {% endblock %} {% block title %}
Our Cities{% endblock %} {% block content %}
<body onload="latestBookingDate(), initialdate()">
</body>
<script>

function initialdate(){
    var today=new Date();
    var year = today.getFullYear();
    var month = today.getMonth() + 1;
    var day = today.getDate();           
    if (month < 10) {
        month = '0' + month; 
    }
    if (day < 10) {
        day = '0' + day; 
    }
    today = year + '-' + month + '-' + day;           
    document.getElementById("sDate").min = today;            
  }
  function setenddate(){
      var selectedstartdate = document.getElementById("sDate").value;
      document.getElementById("eDate").min = selectedstartdate;
  }
  
  function latestBookingDate(){
    var today=new Date();
    var year = today.getFullYear();
    var month = today.getMonth() + 4;
    var day = today.getDate();           
    if (month < 10) {
        month = '0' + month; 
    }
    if (day < 10) {
        day = '0' + day; 
    }
    threeMonthsTime = year + '-' + month + '-' + day;
    document.getElementById("sDate").max = threeMonthsTime;
    document.getElementById("eDate").max = threeMonthsTime;
  }
</script>

<nav class="centre">
  <ul class="aside">
    <li><h2>Our Cities</h2></li>
    {% if date == False: %}
      <li><h3>When would you like to stay with us?</h3></li>
      <li>
          <form class="form" id="ourCities" action="/our_cities_form/" method="POST">
              <div class="container">
                  <label for="sDate">Start Date: </label>
                  <input type="date" name="sDate" id="sDate" class="form" min="" max="" onchange="setenddate()">
                  <br>
                  <label for="eDate">End Date: </label>
                  <input type="date" name="eDate" id="eDate" class="form" max="" min="">
                  <br>
                  <label for="guests">Select number of guests:</label>
                  <select name="guests" id="guests">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                  <div class="clearfix">
                      <button form="ourCities" class="form" value="submit">Search availability </button>
                  </div>
              </div>
          </form>
      </li>
    {% elif date: %}
      <li><h3>Your selected dates are: {{startDate}} to {{endDate}}</h3></li>
      {% if guests == "1": %}
        <li><h3>You have selected: {{guests}} guest.</h3></li>
      {% else: %}
      <li><h3>You have selected: {{guests}} guests.</h3></li>
      {% endif %}
      <li>
        <div class="container clearfix">
          <button type="button" onclick="window.location.href='{{ url_for('ourCities') }}';">Edit Dates or Guests</button>
        </div>
      </li>
    <form action="/book/" class="form" method="POST" id="book">
      <input type="hidden" id="start-date" name="start-date" value="{{startDate}}">
      <input type="hidden" id="end-date" name="end-date" value="{{endDate}}">
      <input type="hidden" id="guest-no" name="guest-no" value="{{guests}}">
      {% if guests == "6" or guests == "5" or guests == "4" or guests == "3" or guests == "2" or guests == "1": %}
        <label for="roomType"> Select Room Type:</label>
        <select name="roomType" id="roomType">
          <option value="Family">Family Room </option>
      {% endif %}
        
      {% if guests == "2" or guests == "1": %}
          <option value="Double"> Double Room </option>
      {% endif %}

      {% if guests == "1": %}
          <option value="Standard">Standard Room</option>
      {% endif %}
    </select>
    
    {% endif %}
  </ul>
</nav>

<div class="row centre">
  {% if ('Aberdeen',) in cities and availability[0] == 1: %}
  <div class="col-4 col-s-4 aside city">
    <img src="/static/img/cities/Aberdeen.jpeg" alt="Aberdeen" />
    {% if date == True: %}
      <input type="submit" value="Aberdeen" form="book" class="city" name="city">
    {% else %}
      <button>Aberdeen</button>
    {% endif %}
  </div>
  {% endif %} {% if ('Belfast',) in cities and availability[1] == 1: %}
  <div class="col-4 col-s-4 aside city">
    <img src="/static/img/cities/Belfast.jpeg" alt="Belfast" />
    {% if date == True: %}
      <input type="submit" value="Belfast" form="book" class="city" name="city">
    {% else %}
      <button>Belfast</button>
    {% endif %}
  </div>
  {% endif %} {% if ('Birmingham',) in cities and availability[2] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Birmingham.jpeg" alt="Birmingham" />
      {% if date == True: %}
        <input type="submit" value="Birmingham" form="book" class="city" name="city">
      {% else %}
        <button>Birmingham</button>
      {% endif %}
  </div>
  {% endif %} {% if ('Bristol',) in cities and availability[3] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Bristol.jpeg" alt="Bristol" />
      {% if date == True: %}
        <input type="submit" value="Bristol" form="book" class="city" name="city">
      {% else %}
        <button>Bristol</button>
      {% endif %}
  </div>
  {% endif %} {% if ('Cardiff',) in cities and availability[4] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Cardiff.jpeg" alt="Cardiff" />
      {% if date == True: %}
        <input type="submit" value="Cardiff" form="book" class="city" name="city">
      {% else %}
        <button>Cardiff</button>
      {% endif %}
  </div>
  {% endif %} {% if ('Edinburgh',) in cities and availability[5] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Edinburgh.jpeg" alt="Edinburgh" />
      {% if date == True: %}
        <input type="submit" value="Edinburgh" form="book" class="city" name="city">
      {% else %}
        <button>Edinburgh</button>
      {% endif %}
  </div>
  {% endif %} {% if ('Glasgow',) in cities and availability[6] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Glasgow.jpeg" alt="Glasgow" />
      {% if date == True: %}
        <input type="submit" value="Glasgow" form="book" class="city" name="city">
      {% else %}
        <button>Glasgow</button>
      {% endif %}
  </div>
  {% endif %} {% if ('London',) in cities and availability[7] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/London.jpeg" alt="London" />
      {% if date == True: %}
        <input type="submit" value="London" form="book" class="city" name="city">
      {% else %}
        <button>London</button>
      {% endif %}
  </div>
  {% endif %} {% if ('Manchester',) in cities and availability[8] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Manchester.jpeg" alt="Manchester" />
      {% if date == True: %}
        <input type="submit" value="Manchester" form="book" class="city" name="city">
      {% else %}
        <button>Manchester</button>
      {% endif %}
  </div>
  {% endif %} {% if ('Newcastle',) in cities and availability[9] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Newcastle.jpeg" alt="Newcastle" />
      {% if date == True: %}
        <input type="submit" value="Newcastle" form="book" class="city" name="city">
      {% else %}
        <button>Newcastle</button>
      {% endif %}
  </div>
  {% endif %} {% if ('Norwich',) in cities and availability[10] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Norwich.jpeg" alt="Norwich" />
      {% if date == True: %}
        <input type="submit" value="Norwich" form="book" class="city" name="city">
      {% else %}
        <button>Norwich</button>
      {% endif %}
  </div>
  {% endif %} {% if ('Nottingham',) in cities and availability[11] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Nottingham.jpeg" alt="Nottingham" />
      {% if date == True: %}
        <input type="submit" value="Nottingham" form="book" class="city" name="city">
      {% else %}
        <button>Nottingham</button>
      {% endif %}
  </div>
  {% endif %} {% if ('Oxford',) in cities and availability[12] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Oxford.jpeg" alt="Oxford" />
      {% if date == True: %}
        <input type="submit" value="Oxford" form="book" class="city" name="city">
      {% else %}
        <button>Oxford</button>
      {% endif %}
  </div>
  {% endif %} {% if ('Plymouth',) in cities and availability[13] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Plymouth.jpeg" alt="Plymouth" />
      {% if date == True: %}
        <input type="submit" value="Plymouth" form="book" class="city" name="city">
      {% else %}
        <button>Plymouth</button>
      {% endif %}
  </div>
  {% endif %} {% if ('Swansea',) in cities and availability[14] == 1:  %}
  <div class="col-4 col-s-4 aside city">
      <img src="/static/img/cities/Swansea.jpeg" alt="Swansea" />
      {% if date == True: %}
        <input type="submit" value="Swansea" form="book" class="city" name="city">
      {% else %}
        <button>Swansea</button>
      {% endif %}
  </div>
  {% endif %}

</form>
</div>

  {% endblock %}
</div>
