* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.row{
  margin: 10px;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #db5461;
  color: white;
  padding: 15px;
}

nav {
  background-color: #db5461;
  color: white;
  padding: 15px;
  list-style-type: none;
}

nav ul {
  list-style-type: none;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #3891a6;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #4c5b5c;
}

.menu > ul > li > a {
  display: block;
}

.contact_us {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  width: 100%;
  resize: vertical;
  border: 0;
}

.search {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  width: 100%;
  resize: vertical;
  border: 0;
}

button {
  padding: 1px;
  border: none;
  background-color: #3891a6;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.aside {
  background-color: #3891a6;
  color: white;
  text-align: center;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0;
}

.navbar{
  display: inline;
}

.navbarButtons {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navbarButtons:hover {
  background-color: #1e293b;
  color: #fff;
}

.footer {
  background-color: #db5461;
  text-align: center;
  font-size: 12px;
  padding: 17px;
  bottom: 0;
  width: 100%;
  position:relative;
  left: 0;
  margin: 10px 0 0 0;
  
}


img {
    max-width: 100%;
    height: auto;
}

.extra {
  padding-top: 150px;
  padding-bottom: 151px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: white;
}

.room_selection label {
  margin: 20px;
}

.room_selection input {
  margin: 20px;
}

/* For mobile phones */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.centre {
  text-align: center;
}

.centre table {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 7px;

}

input[type="submit"] {
  margin: 10px;
}

.form input[type=text], input[type=password], input[type=date], input[type=email], select, textarea, input[type=number]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #f1f1f1;
  border-radius: 25px;
}

.form input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus, select:focus {
  background-color: #ddd;
  outline: none;
  border-radius: 25px;
}

.form hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.form button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.form button:hover {
  opacity: 1;
}

.form .cancelBtn {
  padding: 14px;
  background-color: #f44336;
}

.form .cancelBtn, .signUpBtn{
  float: left;
  width: 50%;
}

.form .container {
  padding: 16px;
}

.form .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .form .cancelBtn, .signUpBtn, .loginBtn {
    width: 100%;
  }
}

.img_container {
  position: relative;
  width: 100%;
}

.img_container img {
  width: 70%;
  height: 40%;
}

.img_container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 20%;
}

.img_container .btn:hover {
  background-color: black;
}

li button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: 45%;
}

li button:hover {
  opacity: 1;
}

.city input {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
.city input:hover {
  opacity: 1;
}

.formAside {
  margin: 10px;
  background-color: #3891a6;
  color: white;
  text-align: center;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}