* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #db5461;
  color: white;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #3891a6;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #4c5b5c;
}

.menu > ul > li > a {
  display: block;
}

.contact_us {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  width: 100%;
  resize: vertical;
  border: 0;
}

.search {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  width: 100%;
  resize: vertical;
  border: 0;
}

button {
  appearance: none;
  padding: 10px;
  border: none;
  background-color: #3891a6;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.aside {
  background-color: #3891a6;
  color: white;
  text-align: center;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: #db5461;
  text-align: center;
  font-size: 12px;
  padding: 17px;
  bottom: 0;
  width: 100%;
  position: fixed;
  left: 0;
  
}


img {
    max-width: 100%;
    height: auto;
}

.extra {
  padding-top: 150px;
  padding-bottom: 151px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: white;
}

.room_selection label {
  margin: 20px;
}

.room_selection input {
  margin: 20px;
}

/* For mobile phones */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
